body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont,monospace;
  -webkit-font-smoothing: monospace;
  -moz-osx-font-smoothing: monospace;

}

code {
  font-family: source-code-pro, 
    monospace;
   
}
