.fondodeportada {
    height: 120%;

    width: 100%;
    /* max-width: max-content; */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
}

.remover{
    height: auto;
        width: 300px;
        font-size: 35px;
        background-color: transparent;
    
        line-height: 26px;
        border-radius: 28px;
        border-color: #ffffff;
        cursor: pointer;
        transition: width 0.2s;
        float: right;
        margin-right: 3%;
        color: rgba(44, 23, 10, 0.938);
}
.remover:hover{
    width: 320px;
        background-color: #fdeda6;
}
.h1 {
    /* list-style: none;
    width: 800px;
    height: 350px;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, 240px);
    gap: 4re;
    justify-content: center;
    background-color: none; */
  max-width: 500px;
   /* margin-top: 150px; */
    margin: auto;
    height: auto;
    height: 80%;
    font-size: 25px;
    
}
.entrada {
    overflow: hidden;
    font-family: monospace;
    white-space: nowrap;
    font-size: 2.4em;
    color: black;
    width: 850px;
    border-right: 2px solid rgba(207, 173, 121, 0.87);
    animation: animacionIntro 6.8s steps(60, end) infinite,
        animacionBar 2s step-end infinite;
}

@keyframes animacionIntro {
    0% {
        width: 0;
    }

    100% {
        width: 750px;
    }
}

@keyframes animacionBar {

    0%,
    100% {
        border-color: rgba(196, 196, 196, 0);
    }

    50% {
        border-color: rgba(0, 0, 0, 0.87);
    }

}



.div2 {
    /* text-align: center;
    border: 3px solid rgb(28, 129, 124);
    background-color: transparent;
    border-radius: 10%;
    width: 550px;
    height: 770px;
    font-size: 18px;
    margin-top: 50px; */
 

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   margin-top: 100px;
}

.buttonVolver {
    height: auto;
    width: 300px;
    font-size: 30px;
    background-color: transparent;

    line-height: 26px;
    border-radius: 28px;
    border-color: #ffffff;
        cursor: pointer;
    transition: width 0.2s;
    float: left;
    margin-right: 3%;
    color: rgba(44, 23, 10, 0.938);}

.buttonVolver:hover {
    width: 320px;
        background-color: #fdeda6;
}
.img{
    /* border-radius: 15px;
    margin-top: 50px; */
max-width: 700px;
margin: 15px;
height: auto;
height: 80%;
border-radius: 15px;
}
.detalles{
    font-size: 1.5rem;
    max-width: 400px;
    margin: 15px;
    height: auto;
    height: 80%;
   
}
.title{
    margin-top: 0;
   color:rgba(44, 23, 10, 0.938)
}


@media (max-width: 560px) {
    .img, .detalles, .buttonVolver, .h1, .title {
        width: 90%;
        height: auto;
    }
}

