
.title{
color: rgb(0, 0, 0);
display: grid;
font-size:300px;
gap: 40px;
padding: 70px;
justify-content: left;
font-size: 150px;
}


.container{
    height:100%;
    position: relative;
    perspective: 800px
}

.button{
border: none;
position:relative;
top:150px;
background: none;
padding: 30px 80px;
width: 300px;
display: inline-block;
text-transform: uppercase;
background: #866841;
color:#fff;
letter-spacing: 2px;
font-size:1.5rem;
font-weight: 800;
border-radius: 5%;
transform-style: preserve-3d;
outline: none;
outline: 1px solid transparent;
transition: all 0.5s ease-out;
cursor: pointer;
}

.button::after{
    content: "Click";
    position: absolute;
    font-size: 40px;
    padding: 30px 80px;
    z-index: -1;
    transition: all 0.5s ease-out;
    width: 40%;
    height: 40%;
    left: 0;
    top:-100%;
    background: #382a0c;
    transform-origin: 0% 100%;
    transform: rotateX(90deg);
    border-radius: 5%;
}
.button:hover{
    transform: translateY(48px) rotateX(-90deg);
}


.fondodeportada {
    /* background-image: url("https://www.publicdomainpictures.net/pictures/400000/nahled/hunde-vintage-kunst-alt-1619901154yXZ.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed; */
    /* background-position: center center; */
    height: 100%;
    width: 100%;


    /* max-width: max-content;  */
    position: absolute;
    top: 0;
    left: 0;
    z-index: -100;
    /* background-position: inherit; */
   
}

